<div id="<%= dom_id student %>">
  <p>
    <strong>Buckid:</strong>
    <%= student.buckid %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= student.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= student.lname %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= student.group_id %>
    <%= link_to student.group.name, student.group %>
  </p>

</div>
